ul.pickup-locations {
  li {
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    > button,
    > p {
      padding: 0.375rem 0.75rem;
    }
    button {
      background-color: #fff;
      border: 0;
      width: 100%;
      height: 100%;
      text-align: left;
      cursor: pointer;
      &:active,
      &:hover,
      &:focus {
        outline: none;
      }
    }
  }
}
